* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: darkgray; */
  font-family: Arial, sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

form , button{
  padding: 10px 20px;
  margin: 10px 10px;
  border-radius: 25px;
}

